@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}


/* universal style */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 50px;
}

.section-title{
    font-size: 2.8rem;
}

/* universal style end here */

/* header section */
.header-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.navbar{
    justify-content: space-between;
}
.nav-items{
    list-style: none;
    align-items: center;
    font-size: 1rem;
}
.nav-item{
    margin-right: 1.5rem;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-heading{
    font-size: 4rem;
    font-style: bold;
}

.banner-title{
    font-size: 1rem;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}



/* Teams section start here */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    margin-top: 85px;
    align-items: center;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-feature{
    margin-left: 130px;
    max-width: 536px;
    font-weight: 700;
}


.feature-description{
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 32px;
}
#quick-list{
    font-weight: 500;
}
#feature{
    color: #FF900E;
}
/* Teams section end here */




/* Some fact section start here */
.facts-description{
    width: 540px;
    font-size: 1rem;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
 .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .fact-number{
    font-size: 2.8rem;
    font-style: 600;
    margin: 10px;
 }

 .fact-name{
    font-size: 1.2rem;
    font-style: 600;
    margin: 10px;
 }
/* Some fact section ends here */



/* Our Sponsor section start here */
.sponsors-title{
    font-size: 2.8rem;
    font-style: 700;
}

.sponsors-description{
    font-size: 1rem;
}

.sponsors-info{
    width: 540px;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies img{
    filter: grayscale(100%);
}
/* Our Sponsor section ends here */

/* Experience section start here */
.experience{
    gap: 140px;
    margin-top: 130px;
    margin-bottom: 124px;

}

.experience-description{
    font-size: 1rem;

}
#first-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    /* width: 580px; */
    /* margin-top: 30px; */
}

.feature-card .experience-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .section-title{
    margin: 0;
} */

.feature-architect img{
    width: 100%;
 } 


#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}


/* Experience section ends here */

/* Footer */
.footer{
    padding: 38px 200px;
    margin-top: 130px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);;
}






/* small device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-item, 
    .teams,
    .experience{
        flex-direction: column;
        align-items: center;
    }


    .brand, .section-title, .facts-description{
        text-align: center;
    }

    .image-container, 
    .facts-container,
    .sponsors-companies{
        grid-template-columns: 1fr;
    }

    .facts-description,
    .sponsors-info{
        margin: 0 auto;
        margin-bottom: 15px;
        width: 350px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;

    }

    .our-feature{
        margin: 20px;
    }
    .sponsors-companies{
        gap: 25px;
        justify-items: center;

    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .footer{
        padding: 20px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams,
    .experience{
        flex-direction: column;
    }
    .our-feature{
        margin: 50px auto;
    } 

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        
    }
    .sponsors-companies{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .some-fact{
        margin: 0 auto;
        width: 540px;

    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
        padding: 35px 32px;
        font-size: 1rem;
        font-weight: 400;
    }
    .footer{
        padding: 20px 100px;
    }
}